// --------------------------
// VARIABLES
// --------------------------
$maincolor: gold;
$contrastcolor: darkgray;

@mixin white-text-black-bg {
  color: $contrastcolor;
  background-color: $maincolor;
}

@mixin black-test-white-bg {
  color: $maincolor;
  background-color: $contrastcolor;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: gray
}

// --------------------------
// Header
// --------------------------

nav {
  @include white-text-black-bg;
  display: flex;
  justify-content: flex-start;

  a {
    @include white-text-black-bg;
    div {
      margin: 10px;
      font-size: large;
    }
  }
}

section,
div {
  form {
    input {
      @include white-text-black-bg;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
      font-family: Arial, Helvetica, sans-serif;
      border-radius: 15px;
      
      &[type="submit"]:hover {
        @include black-test-white-bg;
        font-family: Arial, Helvetica, sans-serif;
        border-radius: 15px;
        transition: all 0.5s;
        content: '»';


      
        
       
 
       
       
       
        
      }
    }
  }
}

img{
    width: 400px;
    height: 400px;
}